body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.moves-list button{
  width: 12rem;
  height: 2.5rem;
  border-style: none;
  border-radius: 5px;
  background-color: gray;
  color: black;
  font-size: 0.7rem;
  margin: 5px;
}

.moves-list .bold {
  font-weight: bold;
}

.moves-list .notBold {
  opacity: 0.8;
}

.moves-list .notBold:hover {
  opacity: 0.5;
  cursor: pointer;
}